@import 'https://fonts.googleapis.com/css?family=Space Grotesk';
body {
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  font-family: 'Space Grotesk';
  font-style: normal;
  a {
    text-decoration: none;
    color: #fff;
  }
  a.normal {
    display: grid;
    place-items: center;
    gap: 1em;
    border: 2px solid #FFFFFF;
    border-radius: 100vw;
    height: 100%;
    padding: 0.2em 1em;
    width: max-content;
    > img { 
    width: 30px;
    }
  } 
  header {
    background-color: #000;
    display: grid;
    place-items: center;
    margin: 0;
    color: #fff;
    img {
      width: 39.375vw;
    }
  }
  main {
    background-color: #609CEB;
    h2 {
      font-size: 4vw;
    }
    $R: 10vw;
    $r: 1.875vw;
    .black {
      background-color: #000;
      padding: 3.5vw;
    }
    .BR {
      border-radius: 0 0 $R $R;
    }
    .UR {
      border-radius: $R $R 0 0;
    }
    .background {
      opacity: 0.5;
    }
    #grid {
      display: grid;
      grid-template-areas: "a a a a a b b b" "a a a a a c c c" "d d d d e c c c" "f f f f f f f f" "f f f f f f f f" "f f f f f f f f";
      width: 100%;

      > div {
        display: grid;
        place-items: center;
        border-radius: 3.125vw;
      }
      #telli-leht {
        grid-area: a;
        background-color: #006CFF;
        border: 2.5px solid #000000;


        > div {
          display: flex;
          flex-flow: row nowrap;
          gap: 0.5vw;
           > div {
            border-radius: 100vw;
            width: 3vw;
            img {
              width: 100%;
              aspect-ratio: 1;
            }
          }
        }
      }
      #Meist {

        grid-area: b;
        background-color: #3188FF;
        color: #D3E6FF;
        ul {
          display: flex;
          flex-flow: row nowrap;
          gap: 2vw;
        }
      }
      #TALTECH {

        grid-area: d;
        background-color: #003F94;
        border: 2.5px solid #000000;
        position: relative;
        color: #98C4FF;
        padding: auto auto;
        h2 {
          font-size: 2vw ;
        }
        overflow: hidden;
        
        .background {
          position: absolute;
          right: 0;
          bottom: auto;
          width: 60%;
          margin: 0;
          opacity: 0;
          transition: opacity 0.3s linear 0s;
        } 
      }
      #TALTECH:hover .background {
        opacity: 0.3;
      }
      #arrow {
        grid-area: e;
        border-radius: 100vw;
        overflow: hidden;
        aspect-ratio: 1;
        background-color: #98C4FF;
        h2 {
          transform: translateY(-10px);
          text-align: center;
          padding: auto;
          transition: transform 0.5s ease-in-out 0s;
        }
      }
      #arrow:hover h2 {
        transform: translateY(30%);
      }
      #vota-uhendust {
        width: 3fr;
        grid-area: c;
        display: grid;
        place-items: center;
        color: #003F94;
        background-color: #609CEB;
        padding: auto auto;
        h2 {font-size: 2.625vw;}
        gap: -2em;
      }
      #meie-teema {
        grid-area: f;
        padding: 5vw;
        background-color: #122949;
        border: 2.5px solid #000000;
        @keyframes scrolling-left1 {
          0% {
            transform: translateX(100%);
            -webkit-transform: translateX(100%);}
          100% {
            transform: translateX(-100%);
            -webkit-transform: translateX(-100%);}
        }
        > div {
          justify-content: space-between;
          align-content: space-between;
        }
        > :nth-child(1) {
          height: 100%;
          width: 40%;
          text-align: left;
          align-items:flex-start;
        }
        > :nth-child(2) {
          align-items: end;
          height: 100%;
          text-align: right;
        }
        span {
          background-color: #000;
          border-radius: 100vw;
          white-space: nowrap; 
          overflow: hidden; 
          width: 20vw;
          padding: 0.5em 1em;
          margin: 0;
          h2 {
            font-size: 2.25vw;
            margin: 0;
          }
          height: max-content !important;
        }
        span:hover {
          background-color: #3188FF;
        }
        span > h2 { 
          animation: scrolling-left1 5s linear infinite;
          
        }
        div > h2 { 
          color: #98C4FF;
          b { opacity: 1 !important; color: #006CFF; transition: none !important; }
          b:hover { opacity: 1!important; }
        }
      }
    }
    #meiemeeskond {
      img {
        width: 56.875vw;
        height: auto;
      }
    }
    b {
      opacity: 0.001;
      transition: opacity 0.5s linear 0s;
    }
    b:hover {
      opacity: 1;
    }
    .article {
      display: grid;
      width: 80%;
      color: #fff;

      column-gap: 2em;
      >:nth-child(1) { 
        grid-area: i; 
        border-radius: 32px; 
        background-color:#006CFF; 
        color: #fff;
        width: 20.75vw;
        height: 14.0625vw;
        place-self: center;

        b > img {
          width: 33%;
        }
        
      }
      >:nth-child(2) { grid-area: h; }
      >:nth-child(3) { grid-area: p; }
      >:nth-child(2), :nth-child(3) { 
        padding: 0; 


      }
      #unik, #rahv {
        padding: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      #rahv {
        font-size: 1.5vw;
      }
      img { 
        width: 100%;
        border-radius: 32px;
      }
      #hoverIMG { 
        background-image: url('src/SOE.svg');
      }
      #hoverIMG:hover {
        background-image: url('src/100.svg');
      }
      b { opacity: 1; }
      b:hover { opacity: 0.001; }
    }
    .article:nth-child(even) {
      grid-template-areas: "h i" "p i";
    }
    .article:nth-child(odd) {
      grid-template-areas: "i h" "i p";
    }
    #Meisterlik {
      grid-template-areas: "h i" "p i";
      width: 80%;
      h2, p {
        color: #003F94;
      }
      img {
        width: 100%;
      }
      margin: 1em auto;
    }
    
  }
  .center {
    color: #fff;
    text-align: center;

    h2 {
      width: 60%;
    }
  }
  form .grid {
    grid-template-areas: "n e s" "m m s";
    :nth-child(1){
      grid-area: n;
    }
    :nth-child(2){
      grid-area: e;
    }
    :nth-child(3){
      grid-area: m;
      min-height: 6em;
    }
    :nth-child(4){
      grid-area: s;
      background-color: #98C4FF;
      color: #122949; 

    }
    gap: 2.5px;

    input {
      padding: 1em;
      border-radius: 1em;
      background-color: #122949;
      border: 0.2vw solid #000000;
      font-weight: bold;
      font-size: 1.2em;
      
    }
    ::placeholder {
      color: #98C4FF;
      font-size: 1.2em;
      font-weight: bold;

    }
  }
  .flex {
    display: flex !important;
    flex-flow: row nowrap;
  }
  .flex-col {
    display: flex !important;
    flex-flow: column nowrap;
    align-items: center;
  }
  .grid {
    display: grid;
  }
  footer {
    background-color: #000;
    color: #fff;
    padding: 2em;
    justify-content: space-between;
    align-items: center;
    > img {
      width: 40px;
    }

  }

}
