@import 'https://fonts.googleapis.com/css?family=Space Grotesk';
body {
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  font-family: "Space Grotesk";
  font-style: normal;
}
body a {
  text-decoration: none;
  color: #fff;
}
body a.normal {
  display: grid;
  place-items: center;
  gap: 1em;
  border: 2px solid #FFFFFF;
  border-radius: 100vw;
  height: 100%;
  padding: 0.2em 1em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
body a.normal > img {
  width: 30px;
}
body header {
  background-color: #000;
  display: grid;
  place-items: center;
  margin: 0;
  color: #fff;
}
body header img {
  width: 39.375vw;
}
body main {
  background-color: #609CEB;
}
body main h2 {
  font-size: 4vw;
}
body main .black {
  background-color: #000;
  padding: 3.5vw;
}
body main .BR {
  border-radius: 0 0 10vw 10vw;
}
body main .UR {
  border-radius: 10vw 10vw 0 0;
}
body main .background {
  opacity: 0.5;
}
body main #grid {
  display: grid;
  grid-template-areas: "a a a a a b b b" "a a a a a c c c" "d d d d e c c c" "f f f f f f f f" "f f f f f f f f" "f f f f f f f f";
  width: 100%;
}
body main #grid > div {
  display: grid;
  place-items: center;
  border-radius: 3.125vw;
}
body main #grid #telli-leht {
  grid-area: a;
  background-color: #006CFF;
  border: 2.5px solid #000000;
}
body main #grid #telli-leht > div {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5vw;
}
body main #grid #telli-leht > div > div {
  border-radius: 100vw;
  width: 3vw;
}
body main #grid #telli-leht > div > div img {
  width: 100%;
  aspect-ratio: 1;
}
body main #grid #Meist {
  grid-area: b;
  background-color: #3188FF;
  color: #D3E6FF;
}
body main #grid #Meist ul {
  display: flex;
  flex-flow: row nowrap;
  gap: 2vw;
}
body main #grid #TALTECH {
  grid-area: d;
  background-color: #003F94;
  border: 2.5px solid #000000;
  position: relative;
  color: #98C4FF;
  padding: auto auto;
  overflow: hidden;
}
body main #grid #TALTECH h2 {
  font-size: 2vw;
}
body main #grid #TALTECH .background {
  position: absolute;
  right: 0;
  bottom: auto;
  width: 60%;
  margin: 0;
  opacity: 0;
  transition: opacity 0.3s linear 0s;
}
body main #grid #TALTECH:hover .background {
  opacity: 0.3;
}
body main #grid #arrow {
  grid-area: e;
  border-radius: 100vw;
  overflow: hidden;
  aspect-ratio: 1;
  background-color: #98C4FF;
}
body main #grid #arrow h2 {
  transform: translateY(-10px);
  text-align: center;
  padding: auto;
  transition: transform 0.5s ease-in-out 0s;
}
body main #grid #arrow:hover h2 {
  transform: translateY(30%);
}
body main #grid #vota-uhendust {
  width: 3fr;
  grid-area: c;
  display: grid;
  place-items: center;
  color: #003F94;
  background-color: #609CEB;
  padding: auto auto;
  gap: -2em;
}
body main #grid #vota-uhendust h2 {
  font-size: 2.625vw;
}
body main #grid #meie-teema {
  grid-area: f;
  padding: 5vw;
  background-color: #122949;
  border: 2.5px solid #000000;
}
@-webkit-keyframes scrolling-left1 {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
}
@keyframes scrolling-left1 {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
}
body main #grid #meie-teema > div {
  justify-content: space-between;
  align-content: space-between;
}
body main #grid #meie-teema > :nth-child(1) {
  height: 100%;
  width: 40%;
  text-align: left;
  align-items: flex-start;
}
body main #grid #meie-teema > :nth-child(2) {
  align-items: end;
  height: 100%;
  text-align: right;
}
body main #grid #meie-teema span {
  background-color: #000;
  border-radius: 100vw;
  white-space: nowrap;
  overflow: hidden;
  width: 20vw;
  padding: 0.5em 1em;
  margin: 0;
  height: -webkit-max-content !important;
  height: -moz-max-content !important;
  height: max-content !important;
}
body main #grid #meie-teema span h2 {
  font-size: 2.25vw;
  margin: 0;
}
body main #grid #meie-teema span:hover {
  background-color: #3188FF;
}
body main #grid #meie-teema span > h2 {
  -webkit-animation: scrolling-left1 5s linear infinite;
          animation: scrolling-left1 5s linear infinite;
}
body main #grid #meie-teema div > h2 {
  color: #98C4FF;
}
body main #grid #meie-teema div > h2 b {
  opacity: 1 !important;
  color: #006CFF;
  transition: none !important;
}
body main #grid #meie-teema div > h2 b:hover {
  opacity: 1 !important;
}
body main #meiemeeskond img {
  width: 56.875vw;
  height: auto;
}
body main b {
  opacity: 0.001;
  transition: opacity 0.5s linear 0s;
}
body main b:hover {
  opacity: 1;
}
body main .article {
  display: grid;
  width: 80%;
  color: #fff;
  -moz-column-gap: 2em;
       column-gap: 2em;
}
body main .article > :nth-child(1) {
  grid-area: i;
  border-radius: 32px;
  background-color: #006CFF;
  color: #fff;
  width: 20.75vw;
  height: 14.0625vw;
  place-self: center;
}
body main .article > :nth-child(1) b > img {
  width: 33%;
}
body main .article > :nth-child(2) {
  grid-area: h;
}
body main .article > :nth-child(3) {
  grid-area: p;
}
body main .article > :nth-child(2), body main .article :nth-child(3) {
  padding: 0;
}
body main .article #unik, body main .article #rahv {
  padding: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body main .article #rahv {
  font-size: 1.5vw;
}
body main .article img {
  width: 100%;
  border-radius: 32px;
}
body main .article #hoverIMG {
  background-image: url("src/SOE.svg");
}
body main .article #hoverIMG:hover {
  background-image: url("src/100.svg");
}
body main .article b {
  opacity: 1;
}
body main .article b:hover {
  opacity: 0.001;
}
body main .article:nth-child(even) {
  grid-template-areas: "h i" "p i";
}
body main .article:nth-child(odd) {
  grid-template-areas: "i h" "i p";
}
body main #Meisterlik {
  grid-template-areas: "h i" "p i";
  width: 80%;
  margin: 1em auto;
}
body main #Meisterlik h2, body main #Meisterlik p {
  color: #003F94;
}
body main #Meisterlik img {
  width: 100%;
}
body .center {
  color: #fff;
  text-align: center;
}
body .center h2 {
  width: 60%;
}
body form .grid {
  grid-template-areas: "n e s" "m m s";
  gap: 2.5px;
}
body form .grid :nth-child(1) {
  grid-area: n;
}
body form .grid :nth-child(2) {
  grid-area: e;
}
body form .grid :nth-child(3) {
  grid-area: m;
  min-height: 6em;
}
body form .grid :nth-child(4) {
  grid-area: s;
  background-color: #98C4FF;
  color: #122949;
}
body form .grid input, body form .grid textarea {
  padding: 1em;
  border-radius: 1em;
  background-color: #122949;
  border: 0.2vw solid #000000;
  font-weight: bold;
  font-size: 1.2em;
  color: #98C4FF;
}
body form .grid ::-moz-placeholder {
  color: #98C4FF;
  font-size: 1.2em;
  font-weight: bold;
}
body form .grid :-ms-input-placeholder {
  color: #98C4FF;
  font-size: 1.2em;
  font-weight: bold;
}
body form .grid ::placeholder {
  color: #98C4FF;
  font-size: 1.2em;
  font-weight: bold;
}
body .flex {
  display: flex !important;
  flex-flow: row nowrap;
}
body .flex-col {
  display: flex !important;
  flex-flow: column nowrap;
  align-items: center;
}
body .grid {
  display: grid;
}
body footer {
  background-color: #000;
  color: #fff;
  padding: 2em;
  justify-content: space-between;
  align-items: center;
}
body footer > img {
  width: 40px;
}/*# sourceMappingURL=style.css.map */