@import 'https://fonts.googleapis.com/css?family=Space Grotesk';
body {
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  font-family: 'Space Grotesk';
  font-style: normal;
  a {
    text-decoration: none;
    color: #fff;
  }
  a.normal {
    display: grid;
    place-items: center;
    gap: 1em;
    border: 2px solid #FFFFFF;
    border-radius: 100vw;
    height: 100%;
    padding: 0.2em 1em;
    width: max-content;
    > img { 
    width: 30px;
    }
  } 
  header {
    background-color: #000;
    display: grid;
    place-items: center;
    margin: 0;
    color: #fff;
    img {
      width: 39.375vw;
    }
  }
  main {
    background-color: #609CEB;
    h2 {
      font-size: 4vw;
    }
    $R: 10vw;
    $r: 1.875;
    .black {
      background-color: #000;
      padding: 3.5vw;
    }
    .BR {
      border-radius: 0 0 $R $R;
    }
    .UR {
      border-radius: $R $R 0 0;
    }
    .background {
      opacity: 0.5;
    }
    #grid {
      display: grid;
      grid-template-areas: "a a a a a b b b" "a a a a a c c c" "d d d d e c c c" "f f f f f f f f" "f f f f f f f f" "f f f f f f f f";
      width: 100%;

      > div {
        display: grid;
        place-items: center;
        border-radius: 3.125vw;
      }
      #telli-leht {
        grid-area: a;
        background-color: #006CFF;
        border: 2.5px solid #000000;


        > div {
          display: flex;
          flex-flow: row nowrap;
          gap: 0.5vw;
           > div {
            border-radius: 100vw;
            width: 3vw;
            img {
              width: 100%;
              aspect-ratio: 1;
            }
          }
        }
      }
      #Meist {

        grid-area: b;
        background-color: #3188FF;
        ul {
          display: flex;
          flex-flow: row nowrap;
          gap: 2vw;
          .dots {
            background-color: #D3E6FF;
          }
        }
      }
      #TALTECH {

        grid-area: d;
        background-color: #003F94;
        border: 2.5px solid #000000;
        position: relative;
        color: #98C4FF;
        padding: auto auto;
        h2 {
          font-size: 2vw ;
        }
        overflow: hidden;
        
        .background {
          position: absolute;
          right: -3.125vw;
          bottom: -3.125vw;
          width: 50%;
          margin: 0;
        } 
      }
      #arrow {
        grid-area: e;

        aspect-ratio: 1;
        img {
          width: 100%;
        }
      }
      #vota-uhendust {
        width: 3fr;
        grid-area: c;
        display: grid;
        place-items: center;
        color: #003F94;
        background-color: #609CEB;
        padding: auto auto;
        h2 {font-size: 2.625vw;}
        gap: -2em;
      }
      #meie-teema {
        grid-area: f;
        padding: 5vw;
        background-color: #122949;
        border: 2.5px solid #000000;
        @keyframes scrolling-left1 {
          0% {
            transform: translateX(100%);
            -webkit-transform: translateX(100%);}
          100% {
            transform: translateX(-100%);
            -webkit-transform: translateX(-100%);}
        }
        > div {
          justify-content: space-between;
          align-content: space-between;
        }
        > :nth-child(1) {
          height: 100%;
          width: 40%;
          text-align: left;  
        }
        > :nth-child(2) {
          align-items: end;
          height: 100%;
          text-align: right;
        }
        span {
          background-color: #000;
          border-radius: 100vw;
          white-space: nowrap; 
          overflow: hidden; 
          width: 20vw;
          h2 {
            font-size: 2.25vw;
          }
          height: max-content !important;
        }
        span:hover {
          background-color: #3188FF;
        }
        span > h2 { 
          animation: scrolling-left1 5s linear infinite;

        }
        div > h2 { 
          color: #98C4FF;
        }
      }
      


    }
    .article {
      justify-content: center;
      align-items: center;
      color: #98C4FF;
      .varvilineloik {
        width: min-content;
        padding: 5vw;
        gap: 0.2em;
        line-height: 1;
        b {transition: opacity 0.3s linear 0s; font-size: 1.1em;}
        b:hover {
          opacity: 0;
        }
      }
      >.flex-col {
        width: 40vw; 
      }
    }
  }
  form .grid {
    grid-template-areas: "n e s" "m m s";
    :nth-child(1){
      grid-area: n;
    }
    :nth-child(2){
      grid-area: e;
    }
    :nth-child(3){
      grid-area: m;
    }
    :nth-child(4){
      grid-area: s;
    }
  }
  .flex {
    display: flex !important;
    flex-flow: row nowrap;
  }
  .flex-col {
    display: flex !important;
    flex-flow: column nowrap;
  }
  .grid {
    display: grid;
  }
  footer {
    background-color: #000;
    color: #fff;
    padding: 2em;
    justify-content: space-between;
    > img {
      width: 40px;
    }

  }

}
