@import 'https://fonts.googleapis.com/css?family=Space Grotesk';
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  font-family: "Space Grotesk";
  font-style: normal;
}

a {
  text-decoration: none;
  color: #fff;
}
a.normal {
  display: grid;
  place-items: center;
  gap: 1em;
  border: 2px solid #FFFFFF;
  border-radius: 100vw;
  height: 100%;
  padding: 0.2em 1em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
a.normal > img {
  width: 30px;
}

header {
  background-color: #000;
  display: grid;
  place-items: center;
  margin: 0;
  color: #fff;
}
header img {
  width: 39.375vw;
}

main {
  background-color: #609CEB;
}
main h2 {
  font-size: 4vw;
}
main .black {
  background-color: #000;
  padding: 3.5vw;
}
main .BR {
  border-radius: 0 0 10vw 10vw;
}
main .UR {
  border-radius: 10vw 10vw 0 0;
}
main .BR, main .UR {
  gap: 10vw;
}
main #grid {
  display: grid;
  grid-template-areas: "a a a a a b b b" "a a a a a c c c" "d d d d e c c c" "f f f f f f f f" "f f f f f f f f" "f f f f f f f f";
  width: 100%;
}
main #grid > a, main #grid > div {
  display: grid;
  place-items: center;
  border-radius: 3.125vw;
  overflow: hidden;
}
main #grid #telli-leht {
  overflow: hidden;
  transition: all 0.5s ease-out 0.1;
  position: relative;
  grid-area: a;
  background-color: #006CFF;
  border: 3px solid #000000;
  padding: 0;
}
main #grid #telli-leht h2 {
  color: #fff;
  line-height: 1;
  padding: 5vw 8.125vw;
  margin: 0;
  border-radius: 3.125vw;
  border: 2.5px solid rgba(255, 255, 255, 0);
}
main #grid #telli-leht > div {
  position: absolute;
}
main #grid #telli-leht > div :nth-child(1), main #grid #telli-leht > div :nth-child(2), main #grid #telli-leht > div :nth-child(3) {
  opacity: 0.4;
  transition: all 0.5s ease-out 0.1s;
}
main #grid #telli-leht > div :nth-child(1) {
  transform: translate(14.6vw, 11vw) rotate(40deg) scale(5);
}
main #grid #telli-leht > div :nth-child(2) {
  transform: translate(-32vw, 6vw) rotate(-20deg) scale(5);
}
main #grid #telli-leht > div :nth-child(3) {
  transform: translate(3vw, -1vw) rotate(20deg) scale(5);
}
main #grid #telli-leht > div {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5vw;
  top: 22.5%;
  right: 25%;
}
main #grid #telli-leht > div img {
  border-radius: 100%;
  width: 25px;
  aspect-ratio: 1;
}
main #grid #telli-leht:hover > div :nth-child(1), main #grid #telli-leht:hover > div :nth-child(2), main #grid #telli-leht:hover > div :nth-child(3) {
  transform: unset;
  opacity: 1;
}
main #grid #telli-leht:hover h2 {
  border: 2.5px solid rgb(255, 255, 255);
}
main #grid #Meist {
  grid-area: b;
  background-color: #3188FF;
  color: #D3E6FF;
  margin: 0;
  padding: 0;
  position: relative;
}
main #grid #Meist h2 {
  margin: 5.625vw auto;
  font-size: 2vw;
}
main #grid #Meist ul {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  gap: 2vw;
  left: 50%;
}
main #grid #Meist ul li {
  margin: 0;
  opacity: 0.3;
  line-height: 0;
}
main #grid #Meist ul :nth-child(1), main #grid #Meist ul :nth-child(2), main #grid #Meist ul :nth-child(3), main #grid #Meist ul :nth-child(4), main #grid #Meist ul :nth-child(5) {
  transition: all 0.3s ease-out;
}
main #grid #Meist ul :nth-child(1) {
  transform: translate(30vw, -8vw) scale(25);
}
main #grid #Meist ul :nth-child(2) {
  transform: translate(9vw, 5.5vw) scale(7.2);
}
main #grid #Meist ul :nth-child(3) {
  transform: translate(-8vw, -5.2vw) scale(12);
}
main #grid #Meist ul :nth-child(4) {
  transform: translate(-7vw, 4vw) scale(7);
}
main #grid #Meist ul :nth-child(5) {
  transform: translate(23vw, 2vw) scale(20);
}
main #grid #Meist:hover ul :nth-child(1), main #grid #Meist:hover ul :nth-child(2), main #grid #Meist:hover ul :nth-child(3), main #grid #Meist:hover ul :nth-child(4), main #grid #Meist:hover ul :nth-child(5) {
  transform: translate(-3.4vw, 4vw) scale(3);
}
main #grid #TALTECH {
  grid-area: d;
  background-color: #003F94;
  border: 2.5px solid #000000;
  position: relative;
  color: #98C4FF;
  padding: auto auto;
  overflow: hidden;
}
main #grid #TALTECH h2 {
  font-size: 2vw;
}
main #grid #TALTECH .background {
  position: absolute;
  right: -2.5%;
  bottom: -15%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: opacity 0.3s linear 0s;
}
main #grid #TALTECH:hover .background {
  opacity: 0.3;
}
main #grid #arrow {
  grid-area: e;
  border-radius: 100vw;
  overflow: hidden;
  aspect-ratio: 1;
  background-color: #98C4FF;
  color: #003F94;
}
main #grid #arrow h2 {
  transform: scale(2);
  text-align: center;
  padding: auto;
}
main #grid #arrow:hover h2 {
  -webkit-animation: arrowdown 1s infinite;
          animation: arrowdown 1s infinite;
}
@-webkit-keyframes arrowdown {
  0% {
    transform: translateY(0) scale(2);
  }
  20% {
    transform: translateY(200%) scale(1, 2.5);
  }
  20.0001% {
    transform: translateY(-200%) scale(1, 2.5);
  }
  50% {
    transform: translateY(0) scale(2);
  }
  100% {
    transform: translateY(0) scale(2);
  }
}
@keyframes arrowdown {
  0% {
    transform: translateY(0) scale(2);
  }
  20% {
    transform: translateY(200%) scale(1, 2.5);
  }
  20.0001% {
    transform: translateY(-200%) scale(1, 2.5);
  }
  50% {
    transform: translateY(0) scale(2);
  }
  100% {
    transform: translateY(0) scale(2);
  }
}
main #grid #vota-uhendust {
  grid-area: c;
  color: #003F94;
  background-color: #609CEB;
}
main #grid #vota-uhendust h2 {
  font-size: 2.625vw;
}
main #grid #vota-uhendust :nth-child(3) {
  transform: translate(-30px, -30px);
}
main #grid #meie-teema {
  grid-area: f;
  padding: 5vw;
  background-color: #122949;
  border: 2.5px solid #000000;
}
@-webkit-keyframes scrolling-left1 {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }
  100% {
    transform: translateX(-120%);
    -webkit-transform: translateX(-120%);
  }
}
@keyframes scrolling-left1 {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }
  100% {
    transform: translateX(-120%);
    -webkit-transform: translateX(-120%);
  }
}
main #grid #meie-teema > div {
  justify-content: space-between;
  align-content: space-between;
}
main #grid #meie-teema > :nth-child(1) {
  height: 100%;
  width: 40%;
  text-align: left;
  align-items: flex-start;
}
main #grid #meie-teema > :nth-child(2) {
  align-items: end;
  height: 100%;
  text-align: right;
}
main #grid #meie-teema span {
  background-color: #000;
  border-radius: 100vw;
  white-space: nowrap;
  overflow: hidden;
  width: 20vw;
  padding: 0.5em 1em;
  margin: 0;
  height: -webkit-max-content !important;
  height: -moz-max-content !important;
  height: max-content !important;
}
main #grid #meie-teema span h2 {
  font-size: 2.25vw;
  margin: 0;
}
main #grid #meie-teema span:hover {
  background-color: #3188FF;
}
main #grid #meie-teema span > h2 {
  -webkit-animation: scrolling-left1 5s linear infinite;
          animation: scrolling-left1 5s linear infinite;
}
main #grid #meie-teema div > h2 {
  color: #98C4FF;
}
main #grid #meie-teema div > h2 b {
  opacity: 1 !important;
  color: #006CFF;
  transition: none !important;
}
main #grid #meie-teema div > h2 b:hover {
  opacity: 1 !important;
}
main #meiemeeskond img {
  width: 56.875vw;
  height: auto;
}
main b {
  opacity: 0.001;
  transition: opacity 0.5s linear 0s;
}
main b:hover {
  opacity: 1;
}
main .article {
  display: grid;
  width: 80%;
  color: #fff;
  -moz-column-gap: 2em;
       column-gap: 2em;
}
main .article:nth-child(even) {
  grid-template-areas: "h i" "p i";
}
main .article:nth-child(odd) {
  grid-template-areas: "i h" "i p";
}
main .article > :nth-child(1) {
  grid-area: i;
  border-radius: 3.125vw;
  background-color: #006CFF;
  color: #fff;
  width: 20.75vw;
  height: 14.0625vw;
  place-self: center;
}
main .article:nth-child(4) > :nth-child(1) {
  background: none;
}
main .article > :nth-child(2) {
  grid-area: h;
}
main .article > :nth-child(3) {
  grid-area: p;
}
main .article > :nth-child(2), main .article :nth-child(3) {
  padding: 0;
}
main .article #unik, main .article #rahv {
  padding: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main .article #rahv {
  font-size: 1.5vw;
}
main .article #rahv b {
  aspect-ratio: 1;
  width: 33%;
}
main .article #rahv b img {
  width: 100%;
}
main .article img {
  width: 100%;
  border-radius: 32px;
  background: none;
}
main .article #hoverIMG {
  background: url("../src/SEO.svg") no-repeat content-box center;
  -o-object-fit: fill;
     object-fit: fill;
  background-size: auto;
}
main .article #hoverIMG:hover {
  background: url("../src/s100.svg") no-repeat content-box center;
  background-size: auto;
  -o-object-fit: fill;
     object-fit: fill;
}
main .article b {
  opacity: 1;
}
main .article b:hover {
  opacity: 0.001;
}
main #Meisterlik {
  grid-template-areas: "h i" "p i";
  width: 80%;
  margin: 1em auto;
}
main #Meisterlik h2, main #Meisterlik p {
  color: #003F94;
}
main #Meisterlik :nth-child(1) {
  background: none;
}
main #Meisterlik img {
  width: 100%;
}

.center {
  color: #fff;
  text-align: center;
  width: 100%;
}
.center h2 {
  width: 60%;
}

form {
  width: 100%;
}
form .grid {
  grid-template-areas: "n e s" "m m s";
  gap: 2.5px;
}
form .grid :nth-child(1) {
  grid-area: n;
}
form .grid :nth-child(2) {
  grid-area: e;
}
form .grid :nth-child(3) {
  grid-area: m;
}
form .grid :nth-child(4) {
  grid-area: s;
  background-color: #98C4FF;
  color: #122949;
}
form .grid input, form .grid textarea {
  padding: 1em;
  border-radius: 1em;
  background-color: #122949;
  border: 0.2vw solid #000000;
  font-weight: bold;
  font-size: 1.2em;
  color: #98C4FF;
}
form .grid textarea {
  resize: vertical;
}
form .grid ::-moz-placeholder {
  color: #98C4FF;
  font-size: 1.2em;
  font-weight: bold;
}
form .grid :-ms-input-placeholder {
  color: #98C4FF;
  font-size: 1.2em;
  font-weight: bold;
}
form .grid ::placeholder {
  color: #98C4FF;
  font-size: 1.2em;
  font-weight: bold;
}

.flex {
  display: flex !important;
  flex-flow: row nowrap;
}

.flex-col {
  display: flex !important;
  flex-flow: column nowrap;
  align-items: center;
}

.grid {
  display: grid;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 2em;
  justify-content: space-between;
  align-items: center;
}
footer > img {
  width: 40px;
}/*# sourceMappingURL=style.css.map */